---
Language: Cpp
# (Options are sorted alphabetically)
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Right
AlignOperands: AlignAfterOperator
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Attach
ColumnLimit: 120
ContinuationIndentWidth: 4
IndentCaseLabels: false
IndentWidth: 4
InsertBraces: true
KeepEmptyLinesAtTheStartOfBlocks: false
PointerAlignment: Right
QualifierAlignment: Custom
QualifierOrder: ["static", "inline", "const", "volatile", "type", "restrict"]
SeparateDefinitionBlocks: Always
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: -1
UseTab: Never
