# Code Owners will automatically be added as reviewers on PRs

# NodeJS Bindings
bindings/node @nbbeeken @emadum @durran

# Python Bindings
bindings/python @ShaneHarvey @prashantmital

# Java Bindings
bindings/java @jyemin @rozza

# CSharp Bindings
bindings/cs @DmitryLukyanov
