# Code Owners will automatically be added as reviewers on PRs

# NodeJS Bindings
bindings/node @nbbeeken @durran @baileympearson @dariakp @addaleax

# Python Bindings
bindings/python @mongodb/dbx-python

# Java Bindings
bindings/java @jyemin @rozza

# CSharp Bindings
bindings/cs @DmitryLukyanov
