lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store

pids
logs
results
node_modules
build

# vendored sources
addon/mongocrypt

npm-debug.log
.vscode
deps
*.tgz

xunit.xml

# built typescript
lib
prebuilds
